.player {
  &__selected-track {
    height: 50px;
    border: 3px dashed;
    background: #279aff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__controls {
    height: 250px;
    padding: 10px;
    border: 3px dashed;
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__addition-form {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 3px dashed;
    background: aliceblue;
  }

  &__playlist {
    padding: 10px;
    border: 3px dashed;
    background: cornflowerblue;
  }
}