.player {
  width: 100%;
  height: 100px;
  background: azure;
  text-align: center;

  &__main-controls {
    position: relative;
    width: 20%;
    height: 80%;
    display: inline-block;
    background: #b39ddb;
  }

  &__duration {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__navigation {
    position: relative;
    width: 90%;
    height: 20%;
    border: 3px solid lightblue;
    margin: auto;
  }

}